@inherits LayoutComponentBase
<div class="font-sans">
    <div>
        <NavMenu />
    </div>
    <main>
        <article class="flex justify-center">
            @Body
        </article>
    </main>
</div>
