<nav class="flex items-center justify-center">
  <a class="mx-2 my-2 px-2 py-2 rounded-lg flex items-center">
<svg class="w-8 h-8 mx-2" viewBox="0 0 345 289" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><g><path d="M228.772,228.772l-65.04,-0c-26.683,-0 -48.346,-25.404 -48.346,-56.693l-0,-112.756l65.04,-0c26.682,-0 48.346,25.403 48.346,56.693l-0,112.756Z" style="fill:#a036f4;fill-opacity:0.87;"/><g><g><path d="M115.386,59.323l-0,-0.63c-0,-31.29 21.663,-56.693 48.346,-56.693l130.079,-0c26.683,-0 48.346,25.403 48.346,56.693l0,113.386c0,31.289 -21.663,56.693 -48.346,56.693l-65.039,-0l-0,-112.756c-0,-31.29 -21.664,-56.693 -48.346,-56.693l-65.04,-0Z" style="fill:#d472ff;stroke:#8c00ca;stroke-width:4px;"/><path d="M228.772,228.772l-0,0.63c-0,31.289 -21.664,56.693 -48.346,56.693l-130.08,-0c-26.683,-0 -48.346,-25.404 -48.346,-56.693l0,-113.386c0,-31.29 21.663,-56.693 48.346,-56.693l65.04,-0l-0,112.756c-0,31.289 21.663,56.693 48.346,56.693l65.04,-0Z" style="fill:#8c00ca;stroke:#d472ff;stroke-width:4px;"/></g></g></g></svg>
    <span class="font-serif text-2xl font-semibold">entwin.ing</span>
  </a>
  @* <a class="mx-2 my-2 px-2 py-2 rounded-lg">
    <svg class="w-8 h-8" version="1.1" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg">
 <path d="m348.84 984h502.32c73.199 0 132.84-59.641 132.84-132.84v-502.32c0-73.199-59.641-132.84-132.84-132.84-35.52 0-68.879 13.801-93.961 38.879l-205.2 205.2v-100.08c0-26.52-21.48-48-48-48s-48 21.48-48 48v144c0 66.121 53.879 120 120 120h144c26.52 0 48-21.48 48-48s-21.48-48-48-48h-100.08l205.2-205.2c6.8398-6.8398 16.32-10.801 26.039-10.801 20.281 0 36.84 16.559 36.84 36.84v502.32c0 20.281-16.559 36.84-36.84 36.84h-502.32c-20.281 0-36.84-16.559-36.84-36.84 0-9.8398 3.8398-19.078 10.801-26.039l94.32-94.32c18.719-18.719 18.719-49.078 0-67.922-18.719-18.719-49.199-18.719-67.922 0l-94.32 94.32c-25.078 25.078-38.879 58.441-38.879 93.961 0 73.199 59.641 132.84 132.84 132.84z"/>
</svg>
    <span class="font-sans">loop</span>
  </a> *@
</nav>
