<nav class="flex items-center justify-center">
  <a class="mx-2 my-2 px-2 py-2 rounded-lg flex items-center">
<svg class="w-8 h-8 mx-2" viewBox="0 0 342 288" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
    <g transform="matrix(0.24,0,0,0.24,-225.525,-111.771)">
        <g transform="matrix(0.789001,0,0,0.918416,-94.0014,-14.1384)">
            <path d="M2518.26,1046.99L2518.26,1561.4C2518.26,1703.35 2403.85,1818.6 2262.94,1818.6L1576,1818.6C1435.09,1818.6 1320.69,1703.35 1320.69,1561.4L1320.69,1046.99C1320.69,905.032 1435.09,789.783 1576,789.783L2262.94,789.783C2403.85,789.783 2518.26,905.032 2518.26,1046.99Z" style="fill:rgb(140,0,202);stroke:rgb(212,114,255);stroke-width:19.47px;"/>
        </g>
        <g transform="matrix(0.789001,0,0,0.918416,368.557,-251.326)">
            <path d="M2518.26,1042.09L2518.26,1566.29C2518.26,1705.55 2384.1,1818.6 2218.86,1818.6L1620.08,1818.6C1454.84,1818.6 1320.69,1705.55 1320.69,1566.29L1320.69,1042.09C1320.69,902.838 1454.84,789.783 1620.08,789.783L2218.86,789.783C2384.1,789.783 2518.26,902.838 2518.26,1042.09" style="fill:rgb(212,114,255);stroke:rgb(140,0,202);stroke-width:19.42px;"/>
        </g>
    </g>
</svg>
    <span class="font-serif text-2xl font-semibold">entwin.ing</span>
  </a>
  @* <a class="mx-2 my-2 px-2 py-2 rounded-lg">
    <svg class="w-8 h-8" version="1.1" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg">
 <path d="m348.84 984h502.32c73.199 0 132.84-59.641 132.84-132.84v-502.32c0-73.199-59.641-132.84-132.84-132.84-35.52 0-68.879 13.801-93.961 38.879l-205.2 205.2v-100.08c0-26.52-21.48-48-48-48s-48 21.48-48 48v144c0 66.121 53.879 120 120 120h144c26.52 0 48-21.48 48-48s-21.48-48-48-48h-100.08l205.2-205.2c6.8398-6.8398 16.32-10.801 26.039-10.801 20.281 0 36.84 16.559 36.84 36.84v502.32c0 20.281-16.559 36.84-36.84 36.84h-502.32c-20.281 0-36.84-16.559-36.84-36.84 0-9.8398 3.8398-19.078 10.801-26.039l94.32-94.32c18.719-18.719 18.719-49.078 0-67.922-18.719-18.719-49.199-18.719-67.922 0l-94.32 94.32c-25.078 25.078-38.879 58.441-38.879 93.961 0 73.199 59.641 132.84 132.84 132.84z"/>
</svg>
    <span class="font-sans">loop</span>
  </a> *@
</nav>
